@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("./assets/fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Nunito-SemiBold.woff") format("woff");
}
