@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rounded';
  src: url("../assets/fonts/Nunito-SemiBold.woff2") format('woff2');
  src: url("../assets/fonts/Nunito-SemiBold.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}